In [50]:
import pandas as pd

In [51]:
!ls

3-1.Series.ipynb
3-2 DataFrame.ipynb
3-3  对比Series 与 DataFrame.ipynb
3-4 Pandas IO 操作.ipynb
3-5 DataFrame之loc与iloc数据选择.ipynb
df.csv
df.json
df.txt
df.xlsx
df3.csv
df3.html
df3.xlsx
sample.csv

In [52]:
df = pd.read_csv('sample.csv')

In [53]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# 1.loc

In [22]:
# loc[row,column]
# row 选择指定行数索引
    # df.loc[:,:]  返回所有数据
    # df.loc[:3,:] 返回前4行 (0,1,2,3)

# column 选择指定的列名
    # df.loc[:,'StockCode']   返回  Series
    # df.loc[:,['StockCode']] 返回  DataFrame

In [59]:
df.loc[:3,['StockCode','Description','Quantity']]

  StockCode                          Description  Quantity
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     71053                  WHITE METAL LANTERN         6
2    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6

In [61]:
df.loc[:3,'StockCode']

0    85123A
1     71053
2    84406B
3    84029G
Name: StockCode, dtype: object

In [27]:
# 筛选特定条件的DataFrame
# 选择 StockCode 为 71053

In [62]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [65]:
df.loc[df.StockCode == '71053']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
67,536375,71053,WHITE METAL LANTERN,6,12/1/2010 9:32,3.39,17850.0,United Kingdom

In [64]:
df.dtypes

InvoiceNo        int64
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [ ]:
# 返回索引偶数行

In [67]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [68]:
df.loc[df.index % 2 == 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,1.25,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,2.95,12583.0,France
36,536370,22659,LUNCH BOX I LOVE LONDON,24,12/1/2010 8:45,1.95,12583.0,France
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,12/1/2010 8:45,0.85,12583.0,France
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,12/1/2010 8:45,2.95,12583.0,France
42,536370,22540,MINI JIGSAW CIRCUS PARADE,24,12/1/2010 8:45,0.42,12583.0,France
44,536370,22492,MINI PAINT SET VINTAGE,36,12/1/2010 8:45,0.65,12583.0,France
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,12/1/2010 9:00,2.55,13748.0,United Kingdom
48,536372,22633,HAND WARMER UNION JACK,6,12/1/2010 9:01,1.85,17850.0,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
52,536373,20679,EDWARDIAN PARASOL RED,6,12/1/2010 9:02,4.95,17850.0,United Kingdom
54,536373,21871,SAVE THE PLANET MUG,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
56,536373,21068,VINTAGE BILLBOARD LOVE/HATE MUG,6,12/1/2010 9:02,1.06,17850.0,United Kingdom
58,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,12/1/2010 9:02,6.95,17850.0,United Kingdom
60,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
62,536373,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 9:02,4.25,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
68,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:32,2.75,17850.0,United Kingdom
70,536375,37370,RETRO COFFEE MUGS ASSORTED,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
72,536375,21071,VINTAGE BILLBOARD DRINK ME MUG,6,12/1/2010 9:32,1.06,17850.0,United Kingdom
74,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,12/1/2010 9:32,4.95,17850.0,United Kingdom
76,536375,82482,WOODEN PICTURE FRAME WHITE FINISH,6,12/1/2010 9:32,2.10,17850.0,United Kingdom
78,536375,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
80,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:32,7.65,17850.0,United Kingdom
82,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,12/1/2010 9:32,3.45,15291.0,United Kingdom
84,536377,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 9:34,1.85,17850.0,United Kingdom
86,536378,22386,JUMBO BAG PINK POLKADOT,10,12/1/2010 9:37,1.95,14688.0,United Kingdom
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,12/1/2010 9:37,2.95,14688.0,United Kingdom
90,536378,84997B,RED 3 PIECE RETROSPOT CUTLERY SET,12,12/1/2010 9:37,3.75,14688.0,United Kingdom
92,536378,21094,SET/6 RED SPOTTY PAPER PLATES,12,12/1/2010 9:37,0.85,14688.0,United Kingdom
94,536378,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/2010 9:37,0.42,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom

# 2.iloc

In [ ]:
# df.iloc[:3,:]  返回前3行 (0,1,2)
# df.iloc[:3,:3] 返回前3行 (0,1,2) ，前3列 (0,1,2)

In [69]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom